$color-primary: #fff;

$color-font-default:#2E3648;
$color-font-light: #9EA9C5;

$color-icon-primary: #9EA9C5;

$color-border-primary: #F6F6F6;

$color-highlight-primary: #FF658C;
$color-highlight-secondary: #FFAA33;

$color-shadow-primary: #6D8DAD;

$shadow-primary: .4rem 2.4rem 6rem rgba($color-shadow-primary, .25);
$shadow-secondary: .1rem  .6rem 1.5rem rgba($color-shadow-primary, .06);
$shadow-primary-light: .2rem 1.2em 3rem rgba($color-shadow-primary, .15);


